<!DOCTYPE html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <title>mon formulaire</title>
</head>
<body>
        {% if id != None %}
            <h1> Modif livre --{{id}}--</h1>
            <form action="/csgo/updatetraitementcsgo/{{id}}/" method="POST"/>
        {% else %}
            <h1> Saisie d'une nouvelle bibliothèque universitaire </h1>
            <form action="/csgo/traitementcsgo/" method="POST">
        {% endif %}

        {% csrf_token %}
        {{ form.as_ul }}
            <input type="submit" value="Ajouter la bibliothèque"\>
    </form>
</body>
</html>