<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Bibliothèque </title>
</head>
<body>
<h1> Bienvenue dans la bibliothèque des Universitées de France</h1>
 Voici les universitées ajoutées
<ul>
{% for l in liste %}
<li>{{l}} <a href="/csgo/affichemajor/{{l.id}}/"> affiche </a> <a href="/csgo/updatemajor/{{l.id}}/"> update </a> <a href="/csgo/deletemajor/{{l.id}}/"> delete </a></li>

{% endfor %}
    </ul>
<a href ="/csgo/formulairemajor/"> ajouter une bibliothèque</a>
</body>
</html>